.icon-arrow-1-min { background-image: url('png/arrow-1-min.png'); background-repeat: no-repeat; }

.icon-arrow-10-min { background-image: url('png/arrow-10-min.png'); background-repeat: no-repeat; }

.icon-arrow-11-min { background-image: url('png/arrow-11-min.png'); background-repeat: no-repeat; }

.icon-arrow-12-min { background-image: url('png/arrow-12-min.png'); background-repeat: no-repeat; }

.icon-arrow-2-min { background-image: url('png/arrow-2-min.png'); background-repeat: no-repeat; }

.icon-arrow-3-min { background-image: url('png/arrow-3-min.png'); background-repeat: no-repeat; }

.icon-arrow-4-min { background-image: url('png/arrow-4-min.png'); background-repeat: no-repeat; }

.icon-arrow-5-min { background-image: url('png/arrow-5-min.png'); background-repeat: no-repeat; }

.icon-arrow-6-min { background-image: url('png/arrow-6-min.png'); background-repeat: no-repeat; }

.icon-arrow-7-min { background-image: url('png/arrow-7-min.png'); background-repeat: no-repeat; }

.icon-arrow-8-min { background-image: url('png/arrow-8-min.png'); background-repeat: no-repeat; }

.icon-arrow-9-min { background-image: url('png/arrow-9-min.png'); background-repeat: no-repeat; }

.icon-hat-min { background-image: url('png/hat-min.png'); background-repeat: no-repeat; }

.icon-snowflake-min { background-image: url('png/snowflake-min.png'); background-repeat: no-repeat; }

