$visual-grid: false;
$visual-grid-color: purple;
$visual-grid-opacity: .15;
$visual-grid-index: back !default; // Show grid behind content (back) or overlay it over the content (front)
$visual-grid-breakpoints: () !default;