// Variables - Grid

// Set breakpoint vars
$max-width-mobile: 480px;
$max-width-mobile-tablet: 767px;
$max-width-tablet: 979px;
$max-width-desktop: 1200px;

// Set breakpoints and columns
$mobile: max-width $max-width-mobile 4;
$mobile-tablet: max-width $max-width-mobile-tablet 8;
$tablet: max-width $max-width-tablet 12;
$desktop: max-width $max-width-desktop 12;
$desktop-large: min-width $max-width-desktop 12;