// -------------------------------------------------------------------------
// Modules - Color
// -------------------------------------------------------------------------

/* Base swatch variables created */
$color-white: hsla(0, 0, 100, 1);
$color-black: hsla(37, 11, 10, 1);
$color-red: hsla(0, 100, 50, 1);