// -------------------------------------------------------------------------
// Modules - Color
// -------------------------------------------------------------------------

/* Base swatch variables created */
$color-white: #f5f4f1;
$color-black: #333;
$color-red: #c42929;
$color-aqua: #00c2c0;
$color-aqua-grey: #c1dada;
$color-purple: #8100db;
$color-green: #00c32e;
$color-yellow: #e6d628;